h1 {
    color: #eb9029;
    font-weight:700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a {
    background-color: #35e235;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}